@use "../abstracts/variables" as *;

.nx-input {
  width: 100%;
  border: 1px solid $nx-border;
  background: $nx-surface;
  color: $nx-text;
  padding: 10px 12px;
  border-radius: 12px;
  outline: none;
}