# Node
node_modules/
dist/

# Env
.env
.env.*

# Logs
*.log

# OS / IDE
.DS_Store
.vscode/
.idea/

# Prisma
prisma/dev.db

src/generated/prisma/

# Allow env example
!.env.example
/docs/

# zips
*.zip
