$nx-radius: var(--nx-radius);

$nx-font-sans: var(--nx-font-sans);
$nx-font-heading: var(--nx-font-heading);

$nx-bg: var(--nx-bg);
$nx-surface: var(--nx-surface);
$nx-border: var(--nx-border);

$nx-text: var(--nx-text);
$nx-text-muted: var(--nx-text-muted);

$nx-primary: var(--nx-primary);
$nx-secondary: var(--nx-secondary);
$nx-accent: var(--nx-accent);