@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: 0 0% 98%;           /* pas noir pur */
  --foreground: 0 0% 5%;            /* proche #000 */
  --muted: 210 20% 96%;
  --muted-foreground: 210 7% 55%;   /* proche #939AA1 */
  --border: 210 16% 88%;

  --primary: 310 48% 42%;           /* approx #9E398D */
  --primary-foreground: 0 0% 100%;
}

.dark {
  --background: 0 0% 8%;            /* noir doux */
  --foreground: 0 0% 96%;
  --muted: 0 0% 12%;
  --muted-foreground: 210 7% 65%;
  --border: 0 0% 18%;

  --primary: 310 48% 42%;           /* #9E398D */
  --primary-foreground: 0 0% 100%;
}

html,
body {
  height: 100%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

* {
  border-color: hsl(var(--border));
}