@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
  --background: 0 0% 98%;           /* pas noir pur */
  --foreground: 0 0% 5%;            /* proche #000 */
  --muted: 210 20% 96%;
  --muted-foreground: 210 7% 55%;   /* proche #939AA1 */
  --border: 210 16% 88%;

  --primary: 310 48% 42%;           /* approx #9E398D */
  --primary-foreground: 0 0% 100%;
}

.dark {
  --background: 0 0% 0%;            /* #000000 */
  --foreground: 0 0% 100%;          /* White */
  
  --muted: 310 46% 22%;             /* #521E49 (Violet Dark) - used for secondary backgrounds/borders */
  --muted-foreground: 210 7% 60%;   /* #939AA1 (Neutral Gray) */
  
  --border: 310 46% 22%;            /* #521E49 (Violet Dark) - also used for borders */
  
  --primary: 310 47% 42%;           /* #9E398D (Violet) */
  --primary-foreground: 0 0% 100%;
}

html,
body {
  height: 100%;
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

* {
  border-color: hsl(var(--border));
}